/* Center the text on page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full height */
    margin: 0;
    background-color: #f5aeae; /* light grey background */
    font-family: Arial, sans-serif;
}

/* Style the heading */
h1 {
    color: #2c3e50; /* dark blue-grey text */
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
